[Unit]
Description=Home Assistant MQTT Device Sensor Publisher
After=network.target

[Service]
ExecStart=/usr/local/bin/ha-mqtt-device
Restart=always
User=nobody
Group=nogroup
EnvironmentFile=/etc/ha-mqtt-device
WorkingDirectory=/usr/local/bin
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ha-mqtt-device

[Install]
WantedBy=multi-user.target
